@import url('https://fonts.google.com/specimen/Poppins');

* {
    box-sizing: border-box;

}

@media screen and (max-width: 700px) {
    body {
        background-color: hsl(0, 100%, 74%);
        display: block;
    }

}


body {
    place-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;

}

.container {
    display: block;
    flex-direction: column;
    float: left;
    padding-left: 100px;
    padding-top: 250px;
    justify-content: space-between;


}

h1 {
    color: white;
}

.content {
    margin-left: 15px;
    margin-top: 200px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 100px;
    gap: 10px;


}

.item1 {
    background-color: hsl(248, 32%, 49%);
    color: white;
    margin-right: 100px;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
    border-radius: 1em;
    box-shadow: 10ch;
    box-shadow: rgb(20, 8, 8);
    box-shadow: 10px 10px 5px rgb(68, 64, 64);

}

.item2 {
    background-color: white;
    align-items: flex-end;
    margin-top: 5px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 10ch;
    box-shadow: rgb(20, 8, 8);
    box-shadow: 10px 10px 5px rgb(68, 64, 64);

}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inlineb7;
    border: 1px solid #ccc;
}

button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inlineb7;
    border: 1px solid #ccc;
    cursor: pointer;
}